
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
	<div class="register">
		<div id="regForm">
		<h1>Create an Account</h1>
		<form action="/register" enctype="multipart/form-data" method="post">
			<p>Username:<br /><input type="text" name="user" placeholder="" value=""></p>
            <p>Password:<br /><input type="password" name="pass" placeholder="" value=""></p>
			<p>Confirm Passowrd:<br /><input type="password" name="confirm" placeholder="" value=""></p>
			<p><input type="submit" value="Create"></p>
		</form>
		</div>
		</div>
	</body>
</html>
